rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /products/{product} {
      allow read,write: if true;
    }
    match /quotes/{quote} {
      allow write: if true;
    }
    match /apis/{api} {
      allow write,read: if false;
    }
  }
}